@use 'coles-solid-library/themes/variables' as vars;

$transprantNumber: 75%;

.body {
    background-color: vars.$color-surface;
  	background-color: color-mix(in srgb, vars.$color-surface $transprantNumber, transparent) !important;
    margin-top: 8px !important;

	button {
        background-color: color-mix(in srgb, vars.$color-surface $transprantNumber, transparent) !important;
    }
  
    fieldset {
        background-color: color-mix(in srgb, vars.$color-surface $transprantNumber, transparent) !important;
        
        :nth-child(even) {
            background-color: transparent !important;
            
            :nth-child(n) {
                background-color: transparent !important;
            }
        }
        
        legend {
            background-color: transparent !important;
        }
        
    }
}

.ProficiencyBar {
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
}

.LangSelectBox {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 2px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.equipmentSelectBox {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.NameBox {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 15px;
    padding: 0;
}

.descBox {
    :nth-child(1) {
        margin: 0 !important; 
        padding: 0 !important;
    }
}
