@use "../../../../index.scss" as indexsheet;

$mobile: 768px;
$marginLeft: 5%;
$choiceWidth: 85%;

.wrapper {
    overflow-y: scroll;
    height: 100%;

    h3 {
        text-wrap: wrap;

        @include indexsheet.styledDndTitle;
    }

    h2 {
        text-wrap: wrap;
        
        @include indexsheet.styledDndTitle;
    }

    span {
        text-wrap: wrap;

        @include indexsheet.styledDndText;
    }
    
    @include indexsheet.parchementBG;
}

.styledHeader {

    @include indexsheet.styledDndHeader;
}

.desc {
    text-wrap: wrap;

    @include indexsheet.styledDndText;  
    
    text-align: left;
    
    div {
        margin-top: 11%;
        margin-left: $marginLeft;

        @media screen and (max-width: $mobile) {
            margin-top: 35%;
        }
    }
}

.Proficiencies {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: baseline;
    text-align: left;
    margin-left: $marginLeft;
    
    h3 {
        margin: 3%;
    }

    @media screen and (max-width: $mobile) {
        grid-template-columns: 0.5fr 1fr;
    }

}

.styledLabel {
    $margin: 5%;
    margin-left: $margin;
    margin-right: $margin;

    @include indexsheet.FlankedLabel;
}

.flavor {
    span {
        @include indexsheet.flavorText;
    }

    @include indexsheet.flavorText;
}

.itemChoices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: $choiceWidth;
    margin: 0 auto;
}

.languages {
    width: $choiceWidth;
    margin: 0 auto;
}

.suggestedFeat {
    width: $choiceWidth;
    margin: 0 auto;
}

.abilityChoices {
    width: $choiceWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}