$mobile: 768px;
.wrapper {
    background-color: none;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Parchment.00.jpg");
    // margin-top: 1%;
    overflow-y: scroll;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: left;

    h3 {
        font-family: 'Mr_Eaves_Small_Caps';
        font-weight: 100;
        color: #AA0505;
        font-size: 1.6em;
        text-wrap: wrap;
    }

    h2 {
        font-family: 'Mr_Eaves_Small_Caps';
        font-weight: 100;
        color: #AA0505;
        font-size: 1.4em;
        text-wrap: wrap;
    }

    span {
        font-family: 'Bookinsanity';
        font-weight: 100;
        color: #000;
        font-size: 1.2em;
        text-wrap: wrap;
    }
    
}

.skillProfsBar {
    font-family: 'Bookinsanity';
    font-weight: 100;
    color: #000;
    font-size: 1.2em;
    text-wrap: wrap;

    @media screen and (max-width:$mobile)  {
        flex-direction: column;
    }
}

.info {
    font-family: 'Bookinsanity';
    font-weight: 100;
    color: #000;
    font-size: 1.2em;
    text-wrap: wrap;
}

.flexBoxRow {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.flexBoxColumn {
    display: flex;
    flex-direction: column;
}