.searchBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    padding: 1%;
    
    input {
        margin: auto 0;
        font-size: large;
        height: 80%;
        margin-left: 20px;
        min-width: 70%;
        width: 100%;
        border: none;
        background-color: inherit;
        color: black !important;
        

        &:focus {
            outline: none;
        }
        
    }

    
    
    button {
        background: transparent !important;
        border: none;
        margin: 0;
        padding: 0;
        border-radius: 30px;

        svg {
            fill: #000000 !important;
        }

        &:hover {
            cursor: pointer;
        }
    }
}