

.preReqInput {

    width: 50% !important;
}

.cardAlt {

    div { 

        svg {
            fill: var(--primary-color-varient) !important;
        }
    }

    &::before {

        background: linear-gradient(var(--secondary-color-varient, blue), transparent);
    }
}

.preReqChip {
    display: block;
    border: 1px solid !important;
    width: 35%;
    border-radius: 14px;
    padding: 8px;
    text-wrap: wrap;
}

.preReqsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 2%;

    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

.leftAlignText {
    text-align: left;
}

.preReqRule {
    margin-bottom: 8px;
}

.prerequisites {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.prereqItem {
    display: flex;
    flex-direction: column;
    padding: 8px;

    div {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
    }
}

.prereqBox {
    border-radius: 12px;
}

.keyValueInput {
    width: 25%;
}

.operationInput {
    width: 25%;
}

.keyInput {
    width: 30%;
}