@use "../../../../../index.scss" as *;

$mobile-fontsize: .3rem;

.table {
    border: 1px solid !important;
    width: 88%;
    margin-right: 20%;
}


.spellSlotsRow {
    display: flex;
    gap: 2px;
    span {
        width: 20px;
        text-align: center;
    }
}

.flavor {
    text-align: left;

    @include flavorText;
}

.featureNameRow {
    width: 40%;

}