.featsList {
    padding: 10pt;
    margin: 0 auto;
    margin-top: 3%;
    width: 90%;
    padding: 10px;
    border-radius: 15px;

    ol {

        list-style-type:circle;

        span {
            word-wrap: wrap;
            font-size: .8rem;
        }
    
    }
    

}
.PreReqsBar {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    div {
        display: flex;
        flex-direction: row;
        :nth-child(n) {
            margin-right: 10px;
        }
    }
}
.body {
    margin-left: 35%;

    @media screen and (max-width: 768px){
        margin-left: 0;
    }
}