.AppBody {
  h1 {
    text-align: center;
  }
  margin: 10%;
  padding: 2%;
  border-radius: 15px;
}

.fabBtn {
  display: block;
  box-sizing: border-box;
  padding: 1.5%;
  border-radius: 55px;
  border: 1px solid white;
  width: min-content;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}