@import 'styles/themes';

//------------------------------------------------------------------
// Styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--on-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin sideNav() {
  display: flex;
  flex-direction: row;
}

.body {
  @include sideNav();
}

.openFirst {
  width: 90vw;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  height: 100%;
}

.closeFirst {
  width: 95vw;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  height: 100%;
}

.sideHead {
  display: flex;
  flex-direction: row;

  :nth-child(1) {
    flex-grow: 1;
  }
}

.sideBody {
  li {
    margin: 10px;
    display: flex;
    flex-direction: row;

    h3 {
      margin: 0px;
    }

    span {
      height: min-content;

      svg {
        margin: auto 0px;
        margin-left: 10px;
      }
    }
  }
}

.theLine {
  border-bottom: #fff 3px solid;
  width: 100%;
  margin-bottom: 15px;
}

/*

**fonts** : **and what they do**

- Bookinsanity : Body text

- Scaly_Sans_Caps : Monster Manual quotes

- Nodesto_Caps_Condensed : Book and card titles

- Mr_Eaves_Small_Caps : Headings

- Zatanna_Misdirection : Titles of tables

- Scaly_Sans : Tables

- Solbera_Imitation : Drop caps

- Dungeon_Drop_Case : Drop caps

*/

// Bookinsanity : Body text ↓

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Bold_Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

// Scaly_Sans_Caps : Monster Manual quotes ↓

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

// Nodesto_Caps_Condensed : Book and card titles ↓

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/Nodesto_Caps_Condensed.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

// Mr_Eaves_Small_Caps : Headings ↓

@font-face {
  font-family: "Mr_Eaves_Small_Caps";
  src: url("./assets/solbera-dnd-fonts-master/Mr_Eaves/Mr_Eaves_Small_Caps.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Zatanna_Misdirection : Titles of tables ↓

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

// 	Scaly_Sans : Tables ↓

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

// Solbera_Imitation : Drop caps ↓ 

@font-face {
  font-family: "Solbera_Imitation";
  src: url("./assets/solbera-dnd-fonts-master/Solbera_Imitation/Solbera_Imitation.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Dungeon_Drop_Case : Drop caps ↓ 

@font-face {
  font-family: "Dungeon_Drop_Case";
  src: url("./assets/solbera-dnd-fonts-master/Dungeon_Drop_Case/Dungeon_Drop_Case.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}