
.SpellsBody{
    margin: 4% 7%;
    padding: 0% 5%;
    border-radius: 15px;
    overflow-x: hidden !important;
    overflow-y: auto;
    max-width: 90vw !important;

    ul {
        list-style: none;
    }

    #materials_needed {
        word-wrap:normal;
    }

    textarea {
        width: 70vw;
        height: 19vh;
        border: none;
        resize: none;

        font-size: 1em;
    }

    @media screen and (max-width: 800px){
        
        width: 90%;
        margin: 1% 0%;
        overflow-x: hidden !important;

        textarea {
            width: 70vw;
            height: 19vh;
            border: none;
            overflow-y: scroll;
        }

        // width:65vw;
        
    }
}
.headerBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    :nth-child(1){
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 768px){
        width: 90%;
    }
}
.view {
    padding: 15px;
    div {
        background-image: url("../../../assets/Backgrounds/paper-old-texture-backgrounds-textures-4fe20d.jpg");
        width: 95%;
        height: max-content;
        border-radius: 12px;
        text-wrap: wrap;
        padding: 15px;
        padding-bottom: -5px;
        
        h1{
            font-family: 'Mr_Eaves_Small_Caps';
            font-weight: 100;
            color: #AA0505;
            margin-left: 12px;
        }

        h2 {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            margin-left: 12px;
        }
        
        h4 {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            margin-left: 12px;
        }

        span {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
        }

        textarea {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            margin-left: 12px;
            border: none;
            background: none;
            text-wrap: wrap;
            width: 100%;
            height: fit-content();
            font-size:small;
        }
    }
}
.center {
    margin: 0 auto;
    width: min-content;
}