$mobile: 768px;
.SpellsBody{
    display: block;
    max-height: 70vh;
    width: 50%;
    margin: 0 auto;
    overflow-y: scroll;

    table {
        margin: 0 auto;
        
        tbody {

            tr {

                td {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}
.paginator {
    display: block;
    width: min-content;
    margin: 0 auto;
    text-align: center;

    select {
        color: white
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        margin-left: 0;
        width: 90%;
        font-size: 0.9em;
    }
}

.spellChip {
    // background: white;
    color: white !important;
    border: 2px solid white;
    font-family: 'Bookinsanity';


    :nth-child(n) {
        color: white !important;
    }
}


.spellMenuBtn {
    background: inherit;
    margin-right: 5%;


    svg {
        
        path {

            fill: white
        }
    }
   
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center;
    button {
        display: block;
        margin: 0 auto;
    }
}

