@use 'coles-solid-library/themes/variables' as vars;

$mobial-size:768px;

.body {
  background-color: vars.$color-surface;
  background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;


  button {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  }
}

.menuBtn {
    padding: 0;
    background: inherit;
    margin-left: 2vw;
}

.header {
    margin: 0 auto;
    padding: 0;
    width: min-content;
}

.searchDiv {
    margin: 0 auto;
    width: 35%; 
    height: 3vh;
    margin-bottom: 1vh;

    button {
        background: transparent !important;
    }
    
    @media screen and (max-width:$mobial-size) {
        width: 100%;
        margin: 0;
    }
}

.featTable {
    display: block;
    margin: 0 auto;
    height: 45vh;
    overflow-y: scroll;
    width: 35%;
    text-align: center;
   
    table {
        margin: 0 auto;
    
        tbody {

            tr {

                td {
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }


}

.paginator {
    width: min-content;
    margin: 0 auto;
    
    select {
        color: white;
    }

    @media screen and (max-width: $mobial-size) {
        width: 100%;
        margin: 0;
    }
}