@use "../../../../index.scss" as *;

$marginLeft: 5%;

.itemWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    gap: 2%;
    text-align: left;

    @include parchementBG;
}

.properties {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: baseline;
    text-align: left;
    margin-left: $marginLeft;

    h3 {

        @include styledDndTitle;
    }

    span {
        margin-left: 0;
    }
}

.header {
    height: min-content;
    margin-left: $marginLeft;
    margin: 0;
    padding: 0;

    @include styledDndTitle;
}

.info {
    text-wrap: wrap;
    height: min-content;
    margin-left: $marginLeft;

    @include styledDndText;
}

.flankedHeader {
    margin-left: $marginLeft;
    margin-right: $marginLeft;

    @include FlankedLabel;
}

.stats {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: baseline;
    text-align: left;
    margin-left: $marginLeft;
}

.desc {
    @include flavorText;
}

.headerTitle {

    @include styledDndHeader;
}

.divider {
    margin-top: 11%;

    @media screen and (max-width: 768px) {
        margin-top: 38%;
    }
}

.dot {
    @include dot;
}