@use "../../../../index.scss" as *;

$mobile: 768px;
$margin: 5%;

.CenterPage {
    // padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
	overflow-y: scroll;
	height: 100%;

    h1{
        z-index: 1;

        @include styledDndTitle;
    }

    h2 {
        z-index: 1;
        
        @include styledDndTitle;
    }
    
    h3 {
		z-index: 1;
        margin: 0;
        padding: 0;
        
        @include styledDndTitle;
    }

    h4 {
        margin-left: 12px;
		z-index: 1;
        
        @include styledDndTitle;
    }

    span {
		z-index: 1;

        @include styledDndText;
    }

    @media screen and (max-width:$mobile)  {
        font-size: .8em;
    }

    @include parchementBG;
}

.eachPage {
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
    margin-top: 15%;

    @media screen and (max-width:$mobile)  {
        font-size: .8em;
        overflow-y: scroll;
        width: 90%;
    }

    @include styledDndTable;
}


.dropCard {
    width: 35%;
    div {
    background-color: none;
    background: none;
    }
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.innerFlexBox {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 100%;
}

.flexBoxColumn {
	display: flex;
	flex-direction: column;
	margin-top: 2%;

}

.flexboxRow {
	display: flex;
	flex-direction: row;
	gap: 4%;
	margin-top: 3%;
	justify-content: center;
}

.startingEquipment {
	display: flex;
	flex-direction: column;
}

.tabBar {
	width: 95%;
    
    :nth-child(n) {
        z-index: 2;
        
    }

    @media screen and (max-width: 756px) {
        margin: 0;
    }
}

.header1 {
    h1{
		z-index: 1;

        @include styledDndTitle;
    }

    @media screen and (max-width:$mobile)  {
        font-size: .8em;
    }
}

.header2 {
    h2 {
		z-index: 1;
        
        @include styledDndTitle;
    }

    @media screen and (max-width:$mobile)  {
        font-size: .8em;
    }
}

.header4 {

    h4 {
		z-index: 1;

        @include styledDndTitle;
    }

    @media screen and (max-width:$mobile)  {
        font-size: .8em;
    }
}

.infobox {
    z-index: 1;
    padding: 0;
    margin: 0;

    @include styledDndText;
}

.smallerFont { 
    font-size: .8em;
}

.leftAlignText {
    text-align: left;
    // width: 100%;
    display: block;
    // white-space: wrap;
    // word-wrap:break-word;
    padding-left: 8px;
}

.itemList {
    list-style: upper-alpha;
}

.table {
    margin: 0 auto;
}

.classStats {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: $margin;

    flex-wrap: wrap;

    h3 {
        min-width: 230px;
    }

    div {
        display: flex;
        flex-direction: row;

        // :first-child {
        //     flex-grow: 1;
        // }
    }
}

.tabBar {

    width: 100%;
    button {
        
        @include styledDndTitle;
    }

}


.ChoiceCards {
    margin-left: $margin;
    margin-right: $margin;

}

.flankedLable {
    // text-transform: none !important;

    @include FlankedLabel;
}

.feature {
    display: block;
    // flex-wrap: wrap;
    text-align: left;
    margin-top: 2%;
    margin-left: $margin !important;
    margin-right: $margin !important;

    strong {
        font-weight: bold !important;
        color: #7c2718 !important;
        text-transform: capitalize;
        display: inline;
        
        @include flavorText;
    }
        
    
    p {

        @include styledDndText;
    }
}

.subclassCard {
    border-color: #7c2718 !important;

    &::before {
        background: #7c2718 !important;
    }

    div {
        border-color: #7c2718 !important;
    }

    button {
        background: linear-gradient(177deg, rgb(112, 40, 23), rgb(81, 26, 13) 92%) !important;

        svg {
            fill: #f6ecd2 !important;
        }
    }
}

.subclassDesc {

    @include flavorText;
}

.styledHeader {
    text-align: baseline;
    h1 {
        font-size: 28px;
    }
    @include styledDndHeader;
}