.moneySection {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.moneyBox {
    display: flex;
    // width: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    padding: 0.5%;
    margin-top: 1%;
}

.moneyInput {
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-2);


    div {
        display: none;
    }

    :nth-child(n) {
        max-width: 180px;
        flex: 1 1 200px;
        box-sizing: border-box;    
    }

    @media screen and (max-width: 768px) {
        width: 80%;
        
    }
}

.moneyHeader {
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 50%;
    margin-top: 3%;
}

.moneyBar {
    width: 0.5vw;

    @media screen and (max-width: 768px){
        width: 1vw;
    }
}

.sectionWrapper {
    display: flex;
    flex-direction: row;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 15%;
    }
}