.areaStyle {
    padding: 0.5rem;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 98%;
    @media screen and (max-width: 768px) {
        width: 90%;
    }
    height: 100%;
    resize:none;
}
.picButton {
    padding: 3px 8px !important;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.transparent {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.5rem;
    width: inherit;
    height: 100%;
    resize:none;
    &:focus {
        outline: none;
        border: none;
    }
}