@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
  background-color: vars.$color-surface;
  background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  width: 35%;
  
  button {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
}

.title {
  text-align: center;
}

.carouselOverwrite {
  button {
    opacity: 1 !important;
  }
}