@use 'coles-solid-library/themes/variables' as vars;

.body {
  background-color: vars.$color-surface;
  background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important; 
  
  button {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  }
}