.TableRow{
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px){
        width: min-content;            
        max-width: 90vw;        
        td{
            text-wrap: nowrap;
        }
    }
}