.itemsBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent !important;
}

.table {
    height: 49vh;
    overflow-y: scroll;
}