.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.singleTabs {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	border-bottom: 1px solid white;
}
.tabHeader {
		display: flex;
		flex-direction: row;
		max-width: 88%;
		scroll-behavior: smooth;
		overflow: hidden;
		font-size: 1rem;
    padding: 0;
		@media screen and (max-width: 768px){
			margin: 0px auto;
			max-width: 100%;
		}

		float: left;
		:first-child {
				border-left: none;
		}
		span {
				height: inherit;
				padding: 10px 20px;
				@media screen and (max-width: 768px){
						padding-bottom: 0px;
				}
				border-left: 1px solid white;
		}
}
.tabBody {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}
.leftArrow {
	margin-right: 10px;
	align-self: flex-start;
	margin: auto 0px;
}

.rightArrow {
	margin-left: 10px;
	align-self: flex-end;
	margin: auto 0px;
}

.transparent {
	background: inherit;
}