.addItemWrapper {
    height: 100%;
}

.searchBar {
    width: 25%;

    button {
        background: transparent !important;
    }
}

.sortButtons {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.tableWrapper {
    table {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  thead,
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;

    tr {
        display: flex;
        width: 100%;
    }
  }

  th,
  td {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
  }

  tbody {
    height: 49vh;
    overflow-y: auto;
    gap: 0.5rem;
  }
}