.body {
    width: 70%;
    min-height: 70%;
    margin: 0 auto;
    border-radius: 15px;
    @media screen and (min-width: 769px){
        position: absolute;
        top: 150px;
        left: 50px;
    }

    @media screen and (max-width: 768px){
        width: 100%;
        
    }
}
.name {
	font: 1em sans-serif;
}
.description {
	font: 1em sans-serif;
}
.skills {
	font: 1em sans-serif;
}
.features {
	font: 1em sans-serif;
}
.languages {
	font: 1em sans-serif;
}
.proficiencies {
	font: 1em sans-serif;
}
.tools {
	font: 1em sans-serif;
}