.searchBar {
    width: 45%;
    height: 5vh;
    margin: 0 auto;
}

.armorTable {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
    table {
        margin: 0 auto;
        text-align: center;
    }
}

.menuBtn {
    background: inherit;
    svg {

        path {
            fill: white;
        }
    }
}

.paginator {
    width: min-content;
    margin: 0 auto;
}