@use 'coles-solid-library/themes/variables' as vars;

.body {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;

    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
}

.menuButton {
    button {
        svg {
            fill: var(--on-background-color) !important
        }
    }
}

.allCharsTables {

    table {
        width: 50%;
        margin: 0 auto;

        tr {
            
            &:hover {
                cursor: pointer;
               
            }
        }
    }
}

.header {
    margin: 0 auto; 
    width: min-content;
}