.feature {
    min-width: 400px;
}

.table {
    border: 1px solid !important;

    tbody tr {
        box-shadow: 0 0 4px #ccc !important;
        &:hover {
            background-color: #6b6b6b22;
            // opacity: .3;
            font-weight: bold;
        }
    }
}


.tableCell {
    border: 1px solid !important;
}