$mobile: 768px;
.classesView {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.paginator {
    margin: 10px;

}

.classesTable {
    overflow-y: scroll;
    height: 49vh;
    width: 35%;
    
    table {
        margin: 0 auto;
    }

    span:hover {
        cursor: pointer;
    }

    fill: var(--on-background-color);

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.searchBar {
    width: 35%; 
    height: 5vh;
    
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.menuBtn {
    background: inherit;
}