$mobile: 768px;

.CenterPage {
    margin: 0 auto;
    width: 80%;
    margin-top: 3%;
    text-align: center;
}

.eachPage {
    padding: 15px;
    width: 100%;
}

.Center {
    margin: 0 auto;
    width: 90%;
}

.CenterTable {
    margin: 0 auto;
    width: 45%;
    
    @media screen and (max-width) {
        margin-left: 0;
    }
}

.subClasses {
    margin: 5% 0 5% 25%;
    max-width: 80%;

}