@use 'coles-solid-library/themes/variables' as vars;

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 0px !important;
}

.sideBar {
    flex: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid vars.$color-primary;
    background-color: vars.$color-background;
}

.featureBody {
    flex: 2;
    width: 75%;
    padding: 12px;
}

.selectBox {
  
}

.newFeatureBox {
    border-bottom: 1px solid vars.$color-primary;
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;

    button {
        width: 85%;
    }
    
}

.featureHeader {
    text-align: left;
    border-bottom: 1px solid vars.$color-primary;
    margin-bottom: 3%;

    :nth-child(2) {
        margin: 10px;
    }
}

.divider {
    border-right: 1px solid;
    margin: 12px;    
}

.actionBtns {
    // margin-top: 55%;
    // flex: 3;
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 3%;

    button {
        border-radius: 6px !important;
    }
}

.scrollBox {
    overflow-y: scroll;
    height: 75% !important;
    margin-bottom: 5%;
}

.changePopup {
    // &:not(:only-child) {
    //     &:not(:first-child) {
    //         border-top: none !important;

    //     }
        
    // }

    :nth-child(n) {
        &:not(:last-child) {
            margin-bottom: 0.5px;
        }
    }
}

.leftAlignText {
    text-align: left;
}

.cardAlt {

    div { 

        svg {
            fill: vars.$color-secondary !important;
        }
    }

    &::before {

        background: linear-gradient(vars.$color-secondary, transparent) !important;
    }
}

.changeHeader {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}

.changeHeaderTitle {
    text-align: left;
    width: 100%;
}

.changeSubheader {
    display: flex;
    flex-direction: row;
}

.changeGroupTitle {
    text-align: center;
    width: 4vw;
}

.changeTypeTitle {
    text-align: center;
    width: 7vw;
}

.commandDesc {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.commandSelectionBox {
    display: flex;
    flex-direction: row;
}

.typeTitle {
    width: 100%;
    text-align: left;
}

.typeDesc {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}