@use 'coles-solid-library/themes/variables' as vars;

.body {
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    @media screen and (max-width: 768px){
        width: 100%;
        
    }
}

.textArea {
    resize: none;
    width: 50%;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
}

.checkBox {
    margin: 0px;
    width: min-content;
}

.castingRowOne {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 10px 0;
    span {
        margin-right: 10px;
    }
}
.chips {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    span {
        margin-right: 10px;
    }
}

.slotTable {
    border-collapse: collapse;
    margin-top: 10px;
    th, td { border: 1px solid var(--border-color, #444); padding: 2px 4px; font-size: 0.75rem; text-align: center; }
    thead { background: rgba(255,255,255,0.08); }
}