.header {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px 1px;
    :first-child {
        flex-grow: 1;
    }
    :last-child {
        align-self: flex-end;
        padding: 10px;
    }
    text-wrap: wrap;
    button {
        height: min-content;
        background: none;
        svg {
            height: 50%;
        }
    }
}
.body {
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    :nth-child(n) {
        text-wrap: wrap !important;
    }
}
.totalPanel {
    max-width: 100%;
    display: flex !important;
    flex-direction: column !important;
    border: 1px solid;
    border-radius: 10px;
}