.body {
    width: 70%;
    min-height: 70%;
    margin: 0 auto;
    border-radius: 15px;
    @media screen and (min-width: 769px){
        position: absolute;
        top: 150px;
        left: 50px;
    }

    @media screen and (max-width: 768px){
        width: 100%;
        
    }
}
.smallField {
	height: min-content;
	padding: 5px;
	padding-bottom: 10px !important;
	padding-right: 20px;
	input {
		border-radius: 0px !important;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
.border {
	border: 1px solid;
	padding: 5px;
	text-overflow: ellipsis;
	max-width: 75%;
	margin: 0 auto;
	option {
		max-width: 20%;
		text-overflow: ellipsis;
	}
}
.classes {
	margin-top: 1rem;
	width: 100%;
}
.field {
	display: flex;
	flex-direction: column;
	border: 1px solid;
	width: min-content;
	max-width: 175px;
	border-radius: 10px;
	padding: 5px;
	input {
		max-width: 140px;
		font-size: 1rem;
	}
	:nth-child(1) {
		input[type="checkbox"] {
			float: right;
		}
		label {
			float: right;
			font-size: 0.7rem;
		}
	}
	select {
		min-width: 100px;
	}
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	p {
		margin: 1rem;
	}
}
.break {
	flex-basis: 100%;
	height: 0px;
}
.check {
	margin: 0px auto;
	margin-right: 5px;
}
.classList {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}