@use "coles-solid-library/themes/variables" as vars;

$mobile: 768px;

.body {
  background-color: vars.$color-surface;
  background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

  button {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  }
}

.backgroundsDiv {
  margin: 0 auto;
  height: 49vh;
  width: 35%;
  overflow-y: scroll;

  table {
    margin: 0 auto;
  }
  fill: var(--on-background-color);
}

.searchBar {
  margin: 0 auto;
  width: 35%; 
  height: 3vh;

  button {
    background: transparent !important;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.paginator {
  width: min-content;
  margin: 0 auto;
}

.menuBtn {
  background: inherit;

  
}