@use "coles-solid-library/themes/variables" as vars;

$mobile: 768px;

.body {
  background-color: vars.$color-surface;
  background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  width: 35%;

  button {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.backgroundsDiv {
  margin: 0 auto;
  width: 100%;
  margin-top: 1%;

  table {
    margin: 0 auto;
    width: 100%;
  }
  fill: var(--on-background-color);

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.searchBar {
  margin: 0 auto;
  width: 55%; 
  height: 3vh;

  button {
    background: transparent !important;
  }

  @media screen and (max-width: $mobile) {
    width: 92%;
  }
}
.paginator {
  width: min-content;
  margin: 0 auto;
}

.menuBtn {
  background: inherit;

  
}

.Title {
  text-align: center;
}


.nameCol {
    width: 40%;
}

.nameCol2024 {
    width: 10%;
}

.legacyCol {
    width: 30%;
    text-align: center;
}

.menuCol {
    width: 10%;
}

.scrollable {
    overflow-y: scroll;
    height: 49vh;
}
