@use 'coles-solid-library/themes/variables' as vars;

.paginator {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;

    select {
        color: white;
    }
}

.pageView {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.transparent {
    background: color-mix(in srgb, vars.$color-surface 70%, transparent) !important;
}