@use 'coles-solid-library/themes/variables' as vars;
@use '../../../index.scss' as *;

$mobile: 768px;

.body {
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    width: 35%;

    button {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
        padding: 0;
    }
}

.searchBar {
    width: 55%; 
    height: 3vh;
    margin: 0 auto;
    margin-bottom: 1vh;

    button {
        background: transparent !important;
    }

    @media screen and (max-width:$mobile) {
        width: 92%;
    }
}

.racesTable {
    margin: 0 auto;

    fill: var(--on-background-color);

    
    @media screen and (max-width:$mobile) {
        width: 100%;
    }

    @include viewPageTable;
}

.paginator {
    margin: 0 auto;
    width: min-content;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.title {
    text-align: center;
    @include gradientHeading(true);
}

.scrollable {
    overflow-y: scroll;
    height: 49vh;
}


.nameCol {
    width: 40%;
}

.legacyCol {
    width: 30%;
}

.optionsCol {
    width: 11%;
}