@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    button {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }
}

.searchBar {
    width: 35%; 
    height: 3vh;
    margin: 0 auto;
    margin-bottom: 1vh;

    button {
        background: transparent !important;
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
    }
}

.racesTable {
    margin: 0 auto;
    width: 35%;
    overflow-y: scroll;
    height: 49vh;

    fill: var(--on-background-color);

    table {
        margin: 0 auto;
    }

    span:hover {
        cursor: pointer;
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
    }
}

.paginator {
    margin: 0 auto;
    width: min-content;
}

.header {
    margin: 0 auto;
    text-align: center;
}