

.SpellsCard {

    div { 

        svg {
            fill: var(--secondary-color) !important;
        }
    }

    &::before {

        background: var(--accent-bar-secondary);
    }
}

.spellChips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}