

.SpellsCard {

    div { 

        svg {
            fill: var(--secondary-color) !important;
        }
    }

    &::before {

        background: linear-gradient(var(--secondary-color, blue), transparent);
    }
}

.spellChips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}