@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
    display: block;
    width: 35%;
    
    margin: 0 auto;
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    table {
        margin: 0 auto;
        
        tbody {

            tr {

                td {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.spellsBody {
    overflow-y: scroll;
    height: 49vh;
}

.paginator {
    display: block;
    width: min-content;
    margin: 0 auto;
    text-align: center;

    select {
        color: white
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        margin-left: 0;
        width: 90%;
        font-size: 0.9em;
    }
}

.searchBar {
    margin: 0 auto;
    width: 30%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}