@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
    display: block;
    width: 35%;
    
    margin: 0 auto;
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    button {
        background-color: vars.$color-surface;
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }

    table {
        margin: 0 auto;
        
        tbody {

            tr {

                td {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.spellsBody {
  table {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  thead,
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;

    tr {
        display: flex;
        width: 100%;
    }
  }

  th,
  td {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
  }

  tbody {
    height: 49vh;
    overflow-y: auto;
    gap: 0.5rem;
  }
}


.paginator {
    display: block;
    width: min-content;
    margin: 0 auto;
    text-align: center;

    select {
        color: white
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        margin-left: 0;
        width: 90%;
        font-size: 0.9em;
    }
}

.searchBar {
    margin: 0 auto;
    width: 30%;

    button {
        background: transparent !important;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}