.languageSection {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-items: flex-start;   
}

.langSelect {
    width: 20vw;
}

.errorMessage {
    color: red;
    font-size: 0.9em;
}