.StatBox {
    box-sizing: border-box;
    width: 12%;
    display: flex;
    flex-direction: column;

    div {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 5%;
    }
}

.statHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    h3 {
        margin: 3%;
        text-align: center;
        font-size: 15px;
    }
}

.statView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    margin-left: 0;
    

    strong {
        width: 100%;
    }
}


.divider {
    width: 100%;
    border-bottom: 1px solid;
    // border-bottom-width: ;
}

.scoreInput {
    width: 2vw;
}

.pbSelect {
    // font-size: 12px;
    display: flex;
    flex-direction: row;
}