@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    button {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }

}


.classesTable {
    overflow-y: scroll;
    height: 49vh;
    width: 35%;
    
    table {
        margin: 0 auto;
    }

    span:hover {
        cursor: pointer;
    }

    fill: var(--on-background-color);

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.searchBar {
    width: 35%; 
    height: 3vh;
    margin-bottom: 1vh;

    button {
        background: transparent !important;
    }

    
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}

.headerBar {
    width: 100%;
}