@use 'coles-solid-library/themes/variables' as vars;

$mobile: 768px;

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    width: 35%;

    button {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }

}


.classesTable {
    width: 100%;
    margin-top: 1%;
    
    table {
        // margin: 0 auto;
        width: 100% !important;
    }

    span:hover {
        cursor: pointer;
    }

    fill: var(--on-background-color);

    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}



.searchBar {
    width: 55%; 
    height: 3vh;
    z-index: 1;

    button {
        background: transparent !important;
    }

    
    @media screen and (max-width: $mobile) {
        width: 92%;
    }
}

.headerBar {
    // width: 100%;
    margin: 0 auto;
}

.nameCol {
    width: 40%;
}

.legacyCol {
    width: 30%;
    text-align: center;
}

.menuCol {
    width: 10%;
}

.chip {
    margin: 0 auto !important;
}

.scrollable {
    overflow-y: scroll;
    height: 49vh;
}

.nameCol2024 {
    width: 10%;
}

.clickyHeader {
    cursor: pointer;
}