@use 'coles-solid-library/themes/variables' as vars;
@use '../../../index.scss' as *;

$mobile: 768px;

.body {
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    width: 35%;

    button {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
        padding: 0;
    }
}


.classesTable {
    margin: 0 auto;
    margin-top: 1%;
    
    @include viewPageTable;

    fill: var(--on-background-color);
}



.searchBar {
    width: 55%; 
    height: 3vh;
    z-index: 1;
    margin: 0 auto;

    button {
        background: transparent !important;
    }
    
    @media screen and (max-width: $mobile) {
        width: 92%;
        margin: 10px;
    }
}

.headerBar {
    margin: 0 auto;
}

.nameCol {
    width: 40%;
}

.legacyCol {
    width: 30%;
    text-align: center;
}

.menuCol {
    width: 10%;
}

.chip {
    margin: 0 auto !important;
}

.scrollable {
    overflow-y: scroll;
    height: 49vh;
}

.nameCol2024 {
    width: 10%;
}

.noClicky {
    cursor: default !important;
}

.paginator {
    margin: 0 auto !important;
    width: min-content;
}

.Title {
  text-align: center;
  @include gradientHeading(true);
}