@use 'coles-solid-library/themes/variables' as vars;
.mainBody {
    background-color: vars.$color-surface;
    border-radius: 11px;
    padding: 6px;
    width: 100%;
    height: 100%;
    text-align: center;
}