.Chip {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 15px;
    width: max-content;
    margin: 5px;
}
.removeChipButton {
    margin: 0 !important;
    margin-left: 5px !important;
    padding: 0 !important;
    font-size: 1rem !important;
}