@use 'coles-solid-library/themes/variables' as vars;

.body {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    button {
        background-color: vars.$color-surface;
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }
    
    fieldset {
        background-color: vars.$color-surface;
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
        
        :nth-child(even) {
            background-color: transparent !important;
            background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
            
            :nth-child(n) {
                background-color: transparent !important;
            }
        }
        
        legend {
            background-color: transparent !important;
        }
        
    }
}


.transparent {
    select {
        
        background-color: vars.$color-surface;
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    }
}

.classHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardAlt {

    div { 

        svg {
            fill: var(--secondary-color) !important;
        }
    }

    &::before {

        background: linear-gradient(var(--secondary-color, blue), transparent);
    }
}

.SectionBody {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}