.searchBar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: white;
    height: 1.5rem;
    width: 30%;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 5pt;
    select {
        color: black;
        width: min-content;
        font-size: .8rem;
        border: none;

        

        &:hover {
            border: none;
            cursor: pointer;
        }
        border: none;
        border-bottom: 1px solid black;
        border-radius: 20px;
        &:focus {
            outline: none;
        }
    }
    span {
        padding-left: 1%;
        width: 50px !important;
        color: black;
    }
    svg {
        height: 1.4rem;
        width: 1.4rem;
        &:hover {
            cursor: pointer;
        }
    }
    input {
        flex-grow: 1;
        border: none;
        outline: none;
    }
    label {
        color: black
    }

    .booleanSelect {
        display: flex;
        flex-direction: row;
        color: black;
        label {
            width: min-content;
            height: min-content;
            margin-left: 10px;
        }

        input[type="checkbox"]  {
            width: min-content;
            height: max-content;
            border: 1px solid black;
            margin: 0px;
            &:hover {
                cursor: pointer !important;
            }
        }
        
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        
        input {
            width: 60%;
        }
        select {
            overflow-y: scroll !important;
        }
    }
}
.chipBar{
    margin: 0 10pt;
    :nth-child(n){
        margin-left: 5px;
    }
}
