.mainBody {
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;
}

.statBlocks {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: fit-content;
}