@use 'coles-solid-library/themes/variables' as *;
// classes.tsx
.container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-md;
  padding: $spacing-1;
  justify-content: stretch;
  @media (max-width: 768px) {
    margin: $spacing-2;
    width: 95%;
  }
  @media (min-width: 769px) {
    margin: $spacing-3;
    width: 95%;
  }
}
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.classSection {
  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (min-width: 769px) {
    flex-basis: 48%;
  }
}

.fieldSizeSm {
  width: 75px !important;
}
.fieldSizeMd {
  width: 115px !important;
}
.fieldSizeLg {
  width: 165px !important;
}
.fieldSizeXl {
  width: 265px !important;
}
.fieldSizeXxl {
  width: 350px !important;
}

// header.tsx
.header {
  min-width: 300px !important;
  display: flex;
  flex-direction: column;
}