.fieldStyle {
	padding-top: 0;
	padding-bottom: 0 !important;
	border-radius: 25px;
}
.selectSpan {
	height: min-content;
	border: 1px solid;
	border-radius: 15px;
	padding: 5px;
	padding-left: 10px;
	margin: auto 0;
	margin-left: 15px;
}
.rowOne {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// margin: 0 30%;
}
.twoRowContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	@media screen and (max-width: 768px){
		flex-direction: column;
	}
}
.divide {
	flex-grow: 1;
}
.rowTwo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	@media screen and (max-width: 768px){
		width: 100%;
	}
}
.allProficiency {
	display: flex;
	flex-direction: column;
}
.singleProficiency {
	display: flex;
	flex-direction: row;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	h3 {
		height: min-content;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	:nth-child(2) {
		margin-left: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: min-content;
	}
}

.levelSecondRow {
	display: flex;
	flex-direction: row;
	:nth-child(1) {
		margin: auto 0;
	}
}

@mixin tableStyle {
	margin-left: 10px;
}
.wholeTable {
	width: 100%;
}
.rowStyle {
	:nth-child(3) {
		margin-left: 15px;
	}
}
.headerStyle {
	@include tableStyle;
	text-align: center;
}
.cellStyle {
	@include tableStyle;
	width: 45px;
	text-align: center;
}
.tableFeature {
	@include tableStyle;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.spellcasting {
	display: flex;
	flex-direction: column;
	:nth-child(n) {
		margin-bottom: 15px;
		width: max-content;
	}
}
.specific {
	display: flex;
	flex-direction: column;
}