$background: #fff;
$primary: #3F51B5;
$accent: #5C6BC0;
$tertiary: #616161;
$font: #fff;
$warn: red;
$mobile: 768px;

.body {
    background-color: $background;
    color: $font;
    a {
        color: $font;
        text-decoration: none;
    }
    font: 1em Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.primary {
    font: 1em Roboto;
    background-color: $primary;
    color: $font;
    // border-color: white;
    overflow-x: hidden;

    li a {
        color: white;
    }
}

.accent {
    font: 1em Roboto;
    background-color: $accent;
    color: $font;

}

.tertiary {
    background-color: $tertiary;

    color: $font;

}

.warn {
    color: red;
}

.hover {
    li a {
        color: $font;
    }

    &:hover {
        font-size: 1.05rem;
        cursor: pointer;
        button {
            font-weight: bold;
        }
        link {
            background-color: $tertiary;
        }
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: $font 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}