$background: #fff;
$primary: #3F51B5;
$accent: #5C6BC0;
$tertiary: #009688;
$font: #fff;
$warn: red;
$mobile: 768px;

.body {
    background-color: $background;
    color: $font;
    a {
        color: $font;
        text-decoration: none;
    }
    font: 1em Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.primary {
    font: 1em Roboto;
    background-color: $primary;
    color: $font;
    // border-color: white;
    overflow-x: hidden;
		input::placeholder {
			color: $font;
		}
    li a {
        color: white;
    }
}

.accent {
    font: 1em Roboto;
    background-color: $accent;
    color: $font;
		input::placeholder {
			color: $font;
		}
}

.tertiary {
    background-color: $tertiary;
		input::placeholder {
			color: $font;
		}
    color: $font;

}

.warn {
    color: red;
}

.hover {
    button {
        transform-origin: top left;
        transition: transform 0.2s ease,background 0.2s ease;
    
        &:active {
            transform: scale(0.9);
        }
    }

    li a {
        color: $font;
    }

    &:hover {
        cursor: pointer;
        link {
            background-color: $tertiary;
        }
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: $font 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}