@use 'coles-solid-library/themes/variables' as vars;

.subheader {
  display: flex !important; 
  gap: 1%;
  position: relative;
  z-index: 0;
  padding: 0;
  padding-left: 9px;
  margin-bottom: 20px;
  box-shadow: 
    inset 0 4px 6px rgba(0, 0, 0, 0.37),
    0px 15px 26px -10px vars.$color-primary !important;


  button {
      color: white;
      border-right: 1px solid transparent;
      border-image: linear-gradient(
      to bottom,
      transparent,
      vars.$color-secondary,
      vars.$color-primary
      ) 1;
      padding-right: 8px;
      border-radius: 0;
  }
  
  
}