.view {
    box-sizing: border-box;
    div {
        background: none;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Parchment.00.jpg");
        width: 100%;
        height: max-content;
        border-radius: 12px;
        text-wrap: wrap;
        padding: 15px;
        padding-bottom: -5px;
        text-align: left;
        max-width: fit-content;
        
        h1{
            font-family: 'Mr_Eaves_Small_Caps';
            font-weight: 100;
            color: #AA0505;
            margin-left: 12px;
            font-size: 1.8em;
            text-wrap: wrap;
        }

        h2 {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            margin-left: 12px;
            font-size: 1.2em;
            text-wrap: wrap;
        }
        
        h4 {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            margin-left: 12px;
            text-wrap: wrap;
        }

        span {
            font-family: 'Bookinsanity';
            font-weight: 100;
            color: #000;
            text-wrap: wrap;
        }
    }
}