@use 'coles-solid-library/themes/variables' as vars;

.body {
    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;

    button {
		background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
	}

	fieldset {
        background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
        
        :nth-child(even) {
            background-color: transparent !important;
            
            :nth-child(n) {
                background-color: transparent !important;
            }
        }
        
        legend {
            background-color: transparent !important;
        }
        
    }
}

.name {
    width: 100%;
}
.featHomebrew {
    width: max-content;
}
#featName {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    input {
        width: 50%;
        margin: 0 auto;
    }

}
.removeChipButton {
    margin: 0 !important;
    margin-left: 5px !important;
    padding: 0 !important;
    font-size: 1rem !important;
}
.preRequisites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: auto 0;
    max-width: 100%;
    :nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: left;
				:nth-child(1) {
					height: min-content;
					margin: auto 0px;
				}
    }
}

.Description {
	width: 100%;
	div {
			text-align: center;
	}
	fieldset {
		width: 50%;
		textarea {
				resize: none;
				height: 100%;
				min-height: 200px;
				margin: 0 auto;
		}
	}
}

.chipBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 10px;
    :nth-child(n) {
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 15px;
        width: max-content;
        margin: 5px;
    }
}

.tranparent {
    background-color: transparent !important;
}

.colorTransparent {
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
}