.header {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    :last-child {
        align-self: flex-end;
        padding: 10px;
    }
}
.body {
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}
.totalPanel {
    display: flex !important;
    flex-direction: column !important;
}