$fleuroinDividerBG: #7c2718; 

:root {
    --fleuroinDividerBG: $fleuroinDividerBG;
}

.fleuronDivider {
    display:flex; 
    align-items:center; 
    gap:11px;
}

.line {
    flex:1; 
    height:2px; 
    background: var(--fleuroinDividerBG); 
    opacity:.45;
}

.middle {
    width:7px; 
    height:7px; 
    background: var(--fleuroinDividerBG);
    transform:rotate(45deg); 
    opacity:.55;
}