@use 'coles-solid-library/themes/variables' as vars;

.damageTypeInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    gap: 1%;
}

.damageTypeBar {
    width: .8vw;

    @media screen and (max-width: 768px) {
        width: 0.5rem;
        
    }
}

.damageTypeSelect {
    width: 100%;
}

.damageTypeHeader {
    display: flex;
    flex-direction: row;
    gap: 1%;
    text-align: center;

    strong {
        padding: 12px;
        padding-left: 5px;
    }
}