@use 'coles-solid-library/themes/themes.scss';

// /* Basic CSS reset to ensure elements are visible regardless of font loading */
// * {
//   visibility: visible !important;
//   display: revert !important;
//   opacity: 1 !important;
// }

// /* Add a fallback basic theme with default colors */
// :root {
//   --background-color: #121212;
//   --on-background-color: #ffffff;
//   --primary-color: #2196f3;
//   --on-primary-color: #ffffff;
//   --secondary-color: #f50057;
//   --on-secondary-color: #ffffff;
// }

// /* Diagnostic rule to help identify hidden elements */
// [style*="display: none"], [style*="visibility: hidden"], [style*="opacity: 0"] {
//   border: 3px solid red !important;
// }
:root {
  --background-image: none;
}
//------------------------------------------------------------------
// Styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--on-background-color);
  background-image: var(--background-image);

  @media screen and (max-width: 768px) {
      overflow: hidden;
      position: relative;
  }
}

%backgroundSettings {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

body.home-bg {
  --background-image: url('./assets/arcane_dictionary_wide.png');
  @extend %backgroundSettings;
}

html {
  overflow:hidden;
  height: 100%;
  margin: 0;
  
}

// /* Basic styles for root element to ensure it's always visible */
// #root {
//   min-height: 100vh;
//   width: 100%;
//   display: block !important;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin sideNav() {
  display: flex;
  flex-direction: row;
}

.body {
  @include sideNav();
}

.openFirst {
  width: 90vw;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  height: 100%;
}

.closeFirst {
  width: 95vw;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  height: 100%;
}

.sideHead {
  display: flex;
  flex-direction: row;

  :nth-child(1) {
    flex-grow: 1;
  }
}

.sideBody {
  li {
    margin: 10px;
    display: flex;
    flex-direction: row;

    h3 {
      margin: 0px;
    }

    span {
      height: min-content;

      svg {
        margin: auto 0px;
        margin-left: 10px;
      }
    }
  }
}

.theLine {
  border-bottom: #fff 3px solid;
  width: 100%;
  margin-bottom: 15px;
}

/* 
 * Load fonts asynchronously with font-display: swap 
 * to prevent font loading from blocking rendering
 */

// Bookinsanity : Body text ↓
@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./assets/solbera-dnd-fonts-master/Bookinsanity/Bookinsanity_Bold_Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Scaly_Sans_Caps : Monster Manual quotes ↓

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Scaly_Sans_Caps';
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans_Caps/Scaly_Sans_Caps_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Nodesto_Caps_Condensed : Book and card titles ↓

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/Nodesto_Caps_Condensed.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nodesto_Caps_Condensed';
  src: url("./assets/solbera-dnd-fonts-master/Nodesto_Caps_Condensed/NodestoCapsCondensed_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Mr_Eaves_Small_Caps : Headings ↓

@font-face {
  font-family: "Mr_Eaves_Small_Caps";
  src: url("./assets/solbera-dnd-fonts-master/Mr_Eaves/Mr_Eaves_Small_Caps.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Zatanna_Misdirection : Titles of tables ↓

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zatanna_Misdirection";
  src: url("./assets/solbera-dnd-fonts-master/Zatanna_Misdirection/Zatanna_Misdirection_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// 	Scaly_Sans : Tables ↓

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Scaly_Sans";
  src: url("./assets/solbera-dnd-fonts-master/Scaly_Sans/Scaly_Sans_Bold_Italic.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Solbera_Imitation : Drop caps ↓ 

@font-face {
  font-family: "Solbera_Imitation";
  src: url("./assets/solbera-dnd-fonts-master/Solbera_Imitation/Solbera_Imitation.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Dungeon_Drop_Case : Drop caps ↓ 

@font-face {
  font-family: "Dungeon_Drop_Case";
  src: url("./assets/solbera-dnd-fonts-master/Dungeon_Drop_Case/Dungeon_Drop_Case.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}