.statsView {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        // flex-wrap: nowrap;
        width: 100%;
    }

}

