.currenyBox {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    padding: 0.5%;

    @media screen and (max-width: 768px) {
        width: min-content;        
    }
}

.moneySection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.moneyInput {
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-2);


    div {
        display: none;
    }

    :nth-child(n) {
        max-width: 180px;
        flex: 1 1 200px;
        box-sizing: border-box;    
    }

    @media screen and (max-width: 768px) {
        width: 80%;
        
    }
    
}

.inventoryBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}

.currencyBar {
    width: 0.5vw;

    @media screen and (max-width: 768px){
        width: 1vw;
    }
}

.currencyHeader {
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 50%;
    margin-top: 3%;
}

// display:"flex","flex-direction":"row", gap:"1%", height: "50%","margin-top":"3%"