.languageSection {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-items: flex-start;   
}

.langSelect {
    width: 20vw;

    @media screen and (max-width: 768px) {
        width: 100%;        
    }
}

.errorMessage {
    border: 1px solid red;
    background-color: color-mix(in srgb, rgba(151, 4, 4, 0.719) 60%, transparent) !important;
    color: white;
    padding: 5px;
    border-radius: 12px;
    font-size: 0.9em;
}