$mobile: 768px;

.searchBar {
    width:40%;
    height: 10vh;
    margin: 0 auto;
}

.racesTable {
    margin: 0 auto;
    width: 40%;
    overflow-y: scroll;
    height: 49vh;

    table {
        margin: 0 auto;
    }

    span:hover {
        cursor: pointer;
    }
}

.paginator {
    margin: 0 auto;
    width: min-content;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.menuBtn {
    background: inherit;

    svg {

        path {
            fill: white;
        }
    }
}