@use "../../../../index.scss" as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.spellTable {

    margin: 0 auto;
}

.nameColumn {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;
}

.levelColumn {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    >*:nth-child(n) {
        margin-right: 0.5rem;
    }
}

.dot {

    @include dot;
}

.spellTopAttr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.attribute {
    display: flex;
    justify-content: space-between;
    gap:5%;
    width: 100%;
}

.flankedHeader {

    @include FlankedLabel;
}

.ViewButton {
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;
    width: 100%;
    margin-top: 10px;

    button {
        flex: 1 !important;
    }
}

.clickyHeader {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badges {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

.spellList {
    height: 33vh;
    overflow: scroll;
}

.searchBar {
    margin-bottom: 8px;
    padding-right: 12px;
}