.primary {
    font: 1em Roboto;
    background-color: #212121;
    color: white;
    border-color: white;
    li a {
        color: white;
    }
}
.accent {
    font: 1em Roboto;
    background-color: #424242;
    color: white;
    border-color: white;
    li a {
        color: white;
    }
}
.warn {
    color: red;
}
.hover {
    li a {
        color: white;
    }
    &:hover {
        button {
            font-weight: bold;
        }
        link {
            background-color: #616161;
        }
        font-size: 1.05rem;
        cursor: pointer;
    }
}