.primary {
    font: 1em Roboto;
    background-color: #3F51B5;
    color: black;
}
.accent {
    font: 1em Roboto;
    background-color: #2196F3;
    color: black;
}
.warn {
    color: red;
}
.hover {
    &:hover {
        button {
            font-weight: bold;
        }
        link {
            background-color: #5C6BC0;
        }
        font-size: 1.05rem;
        cursor: pointer;
    }
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}
.table {
    font: 1em Roboto;
    background-color: #ffffff00;
    color: black;
    th {
        background-color: #2196F3;
        color: black;
    }
    td {
        background-color: #3F51B5;
        color: black;
    }
}
.tBody {
    background-color: #3F51B5;
    color: black;
}
.THead {
    background-color: #2196F3;
    color: black;
}