.mainBody {
    width: 80%;
    height: 80%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;
}

.menuButton {
    button {
        svg {
            fill: var(--on-background-color) !important
        }
    }
}