@use 'coles-solid-library/themes/variables.scss' as *;

.topper {
    background-color: $subheader-background-color;
    color: $subheader-on-background-color;
    display: flex;
    flex-direction: row;
    
}

.menu {
    width: 150px !important;
}
.headerItem {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: min-content;
    
    button svg {
        fill: $color-on-background !important;
    }
    
    h3 {
        display: inline;
        flex-grow: 1;
    }
    &:hover {
        background-color: $color-container !important;
        color: $color-on-container !important;
    }
}
.menuItem {
    display: flex;
    flex-direction: row;
    :first-child {
        flex-grow: 1;
    }
    :nth-child(2), :nth-child(3) {
        margin: 0 4px;
    }
    h3 {
        display: inline;
    }
    
    button svg {
        fill: $color-on-background !important;
    }
}
.linkFix {
    text-decoration: none;
    color: $color-on-container;
    
}
.navOpen {
    // @media screen and (max-width: 768px) {
    //     position: absolute;
    //     top: 7vh;
    //     left: 7vw;
    //     min-width: 80vw;
    //     width: max-content;
    //   }
      background-color: $header-background-color;
      color: $header-on-background-color;
      
    //   width: 10vw;
    //   margin: 10px;
    //   max-width: 15%;
    //   width: 100%;
    //   border-radius: 15px;
    //   padding: 5px;
    //   height: min-content;
}

.navClosed {
    display: none;
}