@use 'coles-solid-library/themes/variables' as vars;

.cardAlt {

    div { 

        svg {
            fill: var(--secondary-color) !important;
        }
    }

    &::before {

        background: linear-gradient(var(--secondary-color, blue), transparent);
    }
}

.transparent {
    background: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
    margin-bottom: 25px;
}