.body {
    background-color: var(--background-color);
    color: var(--on-background-color);
    a {
        color: var(--on-background-color);;
        text-decoration: none;
    }
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// background image is set on the body element, so we need to make sure the .body class doesn't override it

// List of body classes to target
$body-classes: (
  'home-bg',
  'backgrounds-bg',
  'feats-bg',
  'spells-bg',
  'classes-bg',
  'subclasses-bg',
  'items-bg',
  'race-bg',
  'character-create-bg',
  'character-view-bg',
  'aboutUS-bg'
);

@each $class in $body-classes {
  :global(body.#{$class}) {
    .body {
      background-color: transparent;
    }
  }
}

.primary {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    a {
        color: var(--on-primary-color);
    }
    // border-color: white;
    overflow-x: hidden;
		input::placeholder {
			color: var(--on-primary-color);
		}
    li a {
        color: var(--on-primary-color);
    }
}

.accent {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    input::placeholder {
        color: var(--on-secondary-color);
    }
}

.tertiary {
    background-color: var(--tertiary-color);
    input::placeholder {
        color: var(--on-tertiary-color);
    }
    color: var(--on-tertiary-color);

}

.warn {
    color: var(--warn-color);
}

.hover {
    button {
        transform-origin: top left;
        transition: transform 0.2s ease,background 0.2s ease;
    
        &:active {
            transform: scale(0.9);
        }
    }

    li a {
        color: var(--on-primary-color);
    }

    &:hover {
        cursor: pointer;
        link {
            background-color: var(--tertiary-color);
        }
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: var(--on-primary-color) 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.box {
    background-color: var(--surface-color);
    input::placeholder {
        color: var(--on-background-color);
    }
    color: var(--on-background-color);
}