.active {
    font-weight: 900;
    font-size: 1.05rem;
  }
.inactive {
    font-weight: 400;
    font-size: 1rem;
}

.navbar {
    $mobile: 850px;
    :nth-child(1) {
        display: flex;
        flex-direction: row;
        width: 100vw;
        span {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 15px 5%;
            width: min-content;
            @media screen and (max-width: $mobile){
                font-size: 1.2rem;
                margin: 10px 5%;
            }
        }
        
        ul {
            flex-grow: 1;
            width: min-content;
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 17px 5%;
            @media screen and (max-width: $mobile){
                flex-wrap: wrap;
            }
            
            li {
                margin: 0 1rem;
                max-width: 78px;
                a {
                    max-width: 78px;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
                @media screen and (max-width: $mobile){
                    
                    font-size: 1rem;
                    margin: 17px 1%;
                    padding: 0 10px;
                    max-width: 78px;
                }
            }
        }
        button {
            float: right;
            // border-radius: 100%;
            border: none;
            margin-right: 20px;
            // padding: 15px 10px;
            height: max-content;
            width: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            svg {
                &:hover {
                    width: 33pt;
                    height: 33pt;
                }
            }
            @media screen and (max-width: $mobile){
                float: left;
            }
        }
    }

    :nth-child(2) {
        display: flex;
        flex-direction: row;
        ul {
            width: min-content;
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 17px 5%;
            width: 100%;
            @media screen and (max-width: $mobile){
                flex-wrap: wrap;
            }
            li {
                @media screen and (max-width: $mobile){
                    margin-top: 15px;
                    
                }
                margin: 0 1rem;
                width: 50px;
                a {
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}