@use 'coles-solid-library/themes/variables.scss' as *;
.active {
    font-weight: 900;
    font-size: 1.05rem;
  }
.inactive {
    font-weight: 400;
    font-size: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    $mobile: 768px;
    color: $header-on-background-color !important;
    :nth-child(1) {
        display: flex;
        flex-direction: row;
        width: 100vw;
        @media screen and (max-width: $mobile){
            width: 100%;
        }
        span {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 15px 5%;
            width: min-content;
            a {
                width: min-content;
            }
            @media screen and (max-width: $mobile){
                font-size: 1.2rem;
                margin: 10px 5%;
                flex-grow: 1;
            }
        }
        
        ul {
            flex-grow: 1;
            width: min-content;
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 17px 5%;
            @media screen and (max-width: $mobile){
                display: none;
                flex-wrap: wrap;
            }
            
            li {
                margin: 0 1rem;
                width: min-content;
                justify-content: center;
                max-width: 125px;
                border-radius: 15px;
                text-align: center;
                padding: 10px 0 !important;
                a {
                    max-width: 125px;
                    text-decoration: none;
                    text-align: center;
                    width: min-content;
                    padding: 0px 10px;
                    &:hover {
                        color: #fff;
                    }
                }
                @media screen and (max-width: $mobile){
                    
                    font-size: 1rem;
                    margin: 17px 1%;
                    padding: 0 10px;
                    max-width: 78px;
                }
            }
        }
        button {
            float: right;
            border-radius: 15px;
            border: none;
            margin-right: 20px;
            // padding: 15px 10px;
            height: max-content;
            width: min-content;
            overflow: hidden;
            text-overflow: ellipsis;
            svg {
                width: 30pt;
                &:hover {
                    width: 33pt;
                    height: 33pt;
                }
            }
            @media screen and (max-width: $mobile){
                float: right;
            }
        }
    }
}

.toolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
        fill: $header-on-background-color !important;
        color: $header-on-background-color !important;
    }
    button {
        border: none;
        background-color: inherit;
        
        svg {
            width: 0.8rem;
            height: 2.8rem;
            &:hover {
                // width: 13pt;
                // height: 13pt;
            }
        }
    }

    &:hover {
        // width: ;
    }
}