@use 'coles-solid-library/themes/variables' as vars;

.menuBtn {
    padding: 0;
    background: inherit;
    margin-left: 2vw;

    svg {
        
        path {
            fill: vars.$color-on-surface !important;
        }
    }
}