@use 'coles-solid-library/themes/variables' as *;
// classes.tsx
.container {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-md;
  padding: $spacing-1;
  justify-content: stretch;
  @media (max-width: 768px) {
    margin: $spacing-2;
    width: 95%;
    font-size: 0.7em;
  }
  @media (min-width: 769px) {
    margin: $spacing-3;
    width: 95%;
  }
}
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.classSection {
  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (min-width: 769px) {
    flex-basis: 48%;
    max-width: 50%;
  }
}

.fieldSizeSm {
  width: 75px !important;
}
.fieldSizeMd {
  width: 115px !important;
}
.fieldSizeLg {
  width: 165px !important;
}
.fieldSizeXl {
  width: 265px !important;
}
.fieldSizeXxl {
  width: 350px !important;
}

// header.tsx
.header {
  min-width: 300px !important;
  display: flex;
  flex-direction: column;
}

// proficiencies.tsx
.lineUp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// itemMenuButton.tsx
.choiceType {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.list {
  list-style: none;
}

// featureTable.tsx
.classSpecific {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:first {
    width: 50%;
  }
}

.deleteClassSpecificBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-1;
  border-radius: $border-radius-sm;
  background-color: $color-error;
  font-size: $font-size-h6;
  cursor: pointer;
  margin-top: $spacing-1;
  &:hover {
    background-color: $color-error;
    // transition: background-color $transition-duration-1s ease-in-out;
  }
}

.casterFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100% !important;
  fieldset {
    flex-basis: 48%;
    margin: $spacing-1 0px !important;
  }
  &:first {
    flex-basis: 75% !important;
  }
}
// classTable.tsx
.tableStyle {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.casterColumn {
  width: calc($spacing-1 + $spacing-4);
}
.featureColumn {
  width: max-content;
  text-align: left !important;
  padding-left: $spacing-1;
  padding-right: $spacing-1;
};
.cantripSpacing {
  padding: 0px $spacing-1;
  border-radius: $border-radius-sm !important;
}
.singleFeature {
  &:hover {
    cursor: pointer;
    background-color: $color-surface-variant;
    transition: background-color .1s ease-in-out;
    border-radius: $border-radius-sm;
  }
}
.addFeature {
  input {
    margin: 0px $spacing-2 !important;
    width: 50px;
  }
  border-radius: $border-radius-sm;
  width: 100%;
}
.deleteFeature {
  &:hover {
    cursor: pointer;
    background-color: $color-error;
    transition: background-color .1s ease-in-out;
    border-radius: $border-radius-sm;
  }
}