@use "coles-solid-library/themes/variables" as vars;

.Icon {

    img {
        width: 2.5%;
        height: 3%;
    }
}

.body {
    height: 80vh;
    overflow: scroll;

    background-color: vars.$color-surface;
    background-color: color-mix(in srgb, vars.$color-surface 60%, transparent) !important;
}

.underlineText {
    text-decoration: underline !important;
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
}