$border-radius: 10px;



.sideMenu {
    display: flex;
    flex-direction: column;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &.openingLeft {
        animation: SlideIn 0.3s forwards;
    }

    &.closingLeft {
        animation: SlideOut 0.3s forwards;
    }

    &.openingRight {
        animation: SlideInRight 0.3s ease-out forwards;
    }

    &.closingRight {
        animation: SlideOutRight 0.3s ease-out forwards;
    }

}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
